*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color: aqua;
    height: 120px;
    width: 350px;
    border-radius: 20px;
}
h1{
    color: greenyellow;
    font-size: 25px;
    font-family: serif;
}
img{
    height: 400px;
    width: 450px;
    background-color: lightsalmon;
}